// Import core styles
@use '../../node_modules/@tweakpane/core/lib/sass/tp';

// Additional style for the plugin
.#{tp.$prefix}-tmpv {
	// Extend a general input view style
	@extend %tp-input;

	cursor: pointer;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(auto-fit, 10px);
	height: calc(#{tp.cssVar('container-unit-size')} * 3);
	overflow: hidden;
	position: relative;

	&.#{tp.$prefix}-v-disabled {
		opacity: 0.5;
	}

	&_text {
		// You can use CSS variables for styling. See declarations for details:
		// ../../node_modules/@tweakpane/core/lib/sass/common/_defs.scss
		color: tp.cssVar('input-fg');

		bottom: 2px;
		font-size: 0.9em;
		line-height: 0.9;
		opacity: 0.5;
		position: absolute;
		right: 2px;
	}
	&_dot {
		height: 10px;
		line-height: 10px;
		position: relative;
		text-align: center;

		&::before {
			background-color: tp.cssVar('input-fg');
			content: '';
			border-radius: 1px;
			height: 2px;
			left: 50%;
			margin-left: -1px;
			margin-top: -1px;
			position: absolute;
			top: 50%;
			width: 2px;
		}
	}
	&_frac {
		background-color: tp.cssVar('input-fg');
		border-radius: 1px;
		height: 2px;
		left: 50%;
		margin-top: -1px;
		position: absolute;
		top: 50%;
	}
}

.tp-object-editorv {
	color: white;
	display: flex;

	&_button {
		height: 13px;
		width: 13px;
		background: transparent;
		border: none;
		padding: 0;
		color: white;
		cursor: pointer;
	}

	&_inner {
		display: flex;
		align-items: center;
		max-width: calc(100% - 13px);
		overflow-x: hidden;
		overflow-y: hidden;

		&_line {
			display: inline-block;
		}

		&_brace {
			display: inline-block;
			height: 13px;
			width: 7px;
		}

		&_content {
			display: flex;
			height: 13px;
			width: calc(100% - 7px * 2);
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}

		&_key {
			color: #b6b6b6;
		}
	}

	&_opened {
		& > .tp-object-editorv_inner > .tp-object-editorv_inner_content > .tp-object-editorv_inner_line {
			display: block;
		}
		& > .tp-object-editorv_inner > .tp-object-editorv_inner_brace {
			display: block;
		}
		& > .tp-object-editorv_inner {
			display: block;
			width: max-content;
		}
		& > .tp-object-editorv_inner > .tp-object-editorv_inner_content {
			display: block;
			padding-left: 5px;
			height: max-content;
			width: max-content;
		}
	}

	&_string {
		color: #a4573a;
		&::before, &::after {
			content: "'";
			display: inline-block;
		}
	}

	&_number {
		color: #0080d0;
	}

	&_function {
		color: #076937;
	}

	&_boolean {
		color: #4665d3;
	}

	&_array {
		display: inline-flex;

		&.tp-object-editorv_opened {
			display: inline;
		}
	}
}