// Import core styles
@use '../../node_modules/@tweakpane/core/lib/sass/tp';

// Additional style for the plugin
.#{tp.$prefix}-tmpv {
	// Extend a general input view style
	@extend %tp-input;

	cursor: pointer;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(auto-fit, 10px);
	height: calc(#{tp.cssVar('container-unit-size')} * 3);
	overflow: hidden;
	position: relative;

	&.#{tp.$prefix}-v-disabled {
		opacity: 0.5;
	}

	&_text {
		// You can use CSS variables for styling. See declarations for details:
		// ../../node_modules/@tweakpane/core/lib/sass/common/_defs.scss
		color: tp.cssVar('input-fg');

		bottom: 2px;
		font-size: 16px;
		line-height: 0.9;
		opacity: 0.5;
		position: absolute;
		right: 2px;
	}
	&_dot {
		height: 10px;
		line-height: 10px;
		position: relative;
		text-align: center;

		&::before {
			background-color: tp.cssVar('input-fg');
			content: '';
			border-radius: 1px;
			height: 2px;
			left: 50%;
			margin-left: -1px;
			margin-top: -1px;
			position: absolute;
			top: 50%;
			width: 2px;
		}
	}
	&_frac {
		background-color: tp.cssVar('input-fg');
		border-radius: 1px;
		height: 2px;
		left: 50%;
		margin-top: -1px;
		position: absolute;
		top: 50%;
	}
}

.tp-object-editorv {
	color: white;
	display: inline;

	.tp-tabv_c, .tp-fldv_c {
		border-left: none;
	}

	.list-icon {
		height: 16px;
		margin: -2px 0 -2px 0;
	}

	&_logs_close-brace {
		padding-left: 10px;
	}

	&_logs_field-key {
		color: rgba(211, 164, 183, 0.99);
	}

	&_logs_collapsed-key {
		color: rgba(193, 193, 193, 0.99);
		font-style: italic;
	}

	&_logs_field-value-string {
		color: rgba(237, 143, 109, 0.99);
	}

	&_logs_field-value-null {
		color: rgba(180, 180, 180, 0.99);
		font-style: italic;
	}

	&_logs_field-value-number, &_logs_field-value-boolean {
		color: rgba(156, 215, 255, 0.99);
	}

	&_logs-field-value-function {
		color: rgba(156, 215, 255, 0.99);
		font-style: italic;
	}

	&_logs_data-area {
		display: block;
		padding-left: 14px;
	}

	&_logs_first-object {
		padding-left: 0;
	}

	&_expandable-btn, button {
		background: transparent;
		border: none;
		color: white;
		cursor: pointer;
		padding: 0;
		font-size: 10px;
	}

	&_button-opened {
		display: inline;
		gap: 5px;
	}
}